<h1 class="activitytitle">Activities</h1>

<section>
  <h2 class="activitytitleh2">Select an Activity</h2>
  <div class="activity-cards-container">
    <% activity_names = ['swimming', 'running', 'walking', 'cycling', 'weightlifting', 'yoga', 'pilates', 'hiking', 'boxing', 'golf', 'dancing', 'gymnastic'] %>
    <% activity_names.each do |activity_name| %>
      <div class="activity-card">
        <% image_path = "#{activity_name}.svg" %>
        <%= link_to new_activity_path(activity_name: activity_name) do %>
          <%= image_tag(image_path, width: 80, height: 80, class: 'activity-image') %>
          <span class="activity-title"><%= activity_name.capitalize %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<style>
  .activity-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjusted to space-around */
    margin-left: 550px;
    margin-right: 550px;
  }

  .activity-card {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    width: 110px;
  }

  .activity-image {
    width: 80px; /* Set explicit width */
    height: 80px; /* Set explicit height */
    object-fit: cover; /* Maintain aspect ratio */
  }

  .activity-card a {
    text-decoration: none; /* Remove underlines from links within activity cards */
  }

  .activity-title {
    display: block;
    margin-top: 5px;
    text-decoration: none !important; /* Désactiver le soulignement */
    color:#ad4d0e; /* Choisir la couleur orange foncé */
    font-weight: bold; /* Mettre le texte en gras */
  }
  
 /* Add additional styles for responsiveness */
  @media screen and (max-width: 1280px) {
  .activity-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjusted to space-around */
    margin-left: 0px;
    margin-right: 0px;
  }
  }
</style>

<section>
  <!-- Tableau pour afficher les activités existantes -->
  <h2 class="activitytitleh2">Existing Activities</h2>

  <div class="table-container">
    <table class="activity-table2">
      <thead>
        <tr>
          <th>Activity Name</th>
          <th>Date and Time</th>
          <th>Comments</th>
          <th>Modify</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |activity| %>
          <tr>
            <td><%= link_to activity.name, activity_path(activity), class: 'linktitle' %></td>
            <td class = link><%= link_to activity.date_and_time.strftime('%Y-%m-%d %H:%M:%S') if activity.date_and_time%></td>
            <td><%= link_to activity.comments, activity_path(activity), class: 'link' %></td>
            <td><%= link_to 'Modify', edit_activity_path(activity), class: 'link' %></td>
            <td>
              <%= link_to image_tag('delete_icon.png', width: 20, height: 20),
                          custom_delete_activity_path(activity),
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'delete-icon' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<style>
 .table-container {
    overflow-x: auto;
    margin: 20px auto; /* Adjust margin as needed */
    padding-bottom: 20px; /* Add space below the table */
    max-width: 600px; /* Adjust max-width as needed */
  }
  .linktitle {
    text-decoration:none;
    color: #26272b;
    font-weight: bold;
  }
  .activity-table2 {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f4f4f4; /* Adjust background color */
  }

  .activity-table2 caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  .activity-table2 tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .5em; /* Adjust cell padding */
  }

  .activity-table2 th,
  .activity-table2 td {
    padding: .75em; /* Adjust cell padding */
    text-align: center;
    }

  .activity-table2 th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color:#ddd;
    color:#ad4d0e;
    width: fit; 
    height: 50px;
  }

  .activity-table th:first-child,
  .activity-table td:first-child {
    width: 100px;
  }

  @media screen and (max-width: 600px) {
 .table-container {
    overflow-x: auto;
    margin: 20px 20px; /* Adjust margin as needed */
    padding-bottom: 20px; /* Add space below the table */
    max-width: 600px; /* Adjust max-width as needed */
  }

    .activity-table th,
    .activity-table td {
      padding: 10px; 
    }

    .activity-cell {
      width: 20%; /* Adjust as needed based on the number of columns you want on small screens */
    }

    .activity-table2 {
      border: 1px solid #ccc;
      margin: 0 auto; 
      background-color: #f0f0f0; 
    }

    .activity-table2 caption {
      font-size: 1.3em;
    }

    .activity-table2 thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 10;
      position: absolute;
      width: 1px;
      color: dark;
    }

    .activity-table2 tr {
      border-bottom: 3px solid #ad4d0e;
      display: block;
      margin-bottom: .625em;
    }

    .activity-table2 td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: left;
    }

    .activity-table2 td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    .activity-table2 td:last-child {
      border-bottom: 0;
    }
  }
</style>

