<div class="activity-form">



  <h2>Create a new <%= @activity.name %> activity</h2>
 <%= form_with(model: @activity, data: { turbo_frame: 'new_activity' }) do |form| %>


  <%= form.hidden_field :userid %>

  <div class="form-group">
    <div class="field">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

    <div class="form-group">
      <div class="field">
        <%= form.label :date_and_time, class: 'form-label' %>
         <%= form.datetime_field :date_and_time %>
      </div>
    </div>

    <div class="form-group">
  <%= form.label :duration, class: 'form-label' do %>
    Duration in minutes:
  <% end %>
  <%= form.number_field :duration, class: 'form-control', min: 0 %>
</div>


    <div class="form-group">
      <%= form.label :comments, class: 'form-label' %>
      <%= form.text_area :comments, class: 'form-control' %>
    </div>

      <%= form.submit 'Create activity', class: 'btn-primary' %>
  <%= link_to 'Back to Activities', activities_path, class: 'btn-secondary' %>
<% end %>

  <ul>


</div>
