<!-- app/views/activities/show.html.erb -->
<h1 class="activitytitle"><%= @activity.name %></h1>
<table class="activity-table">
 <tr>
  <td>Date:</td>
  <td><%= @activity.date_and_time.strftime('%d-%m-%Y %Hh%M') if @activity.date_and_time%></td>
</tr>

  <tr>
    <td>Duration:</td>
    <td><%= @activity.duration %> minutes</td>
  </tr>
  <tr>
    <td>Comments:</td>
    <td><%= @activity.comments %></td>
  </tr>
  <tr>
    <td><%= link_to 'Back to Activities', activities_path, class: 'btn-primary' %>
</td>
    <td><%= link_to 'Delete Activity', custom_delete_activity_path(@activity), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-secondary' %>
</td>
    </tr>
</table>

<%= turbo_include_tags %>

